@{
    ViewData["Title"] = "Information by developer";
}

<h2 class=" font-size: 1.6em; font-style: italic">@ViewData["Title"]</h2>
<br />
<h4 class="text-primary-emphasis font-size: 1.6em; font-style: italic;">@ViewData["Student"]</h4>

<span class="sr-only">
    <a href="@ViewData["LinkedIn"]" target="_blank" style="font-weight: bold; font-size: 1.2em; font-style: italic; color: #191970;">LinkedIn</a>
        <br />
    <a href="@ViewData["Github"]" target="_blank" style="font-weight: bold; font-size: 1.2em; font-style: italic; color: #191970;">Github</a></a>
</span>
