@{ //Instruções que são encapsuladas por @{}, podemos utilizar instruções C#
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Student @ViewData["Student"]</p>
<address>
    <strong>More Information: </strong> <a href= mailto: rogerio_test@hotmail.com >email</a>
</address>    
